@page "/employeeoverview"
@inherits EmployeeOverviewBase

<h1 class="page-title">All Employees</h1>
@if (Employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Employees)
        {
        <tr>
            <td><img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{employee.EmployeeId}-small.jpg")" /></td>
            <td>@employee.EmployeeId</td>
            <td>@employee.FirstName</td>
            <td>@employee.LastName</td>
        </tr>
        }
    </tbody>
</table>
}
